{% extends "linuxfr/base.html" %}

{% block title %}LinuxFr - Profil{% endblock %}

{% block content %}
<div class="container">
    <p>Entries in sitemap: <span>{{ sitemap_entries_count }}</span></p>
    <p>Pages: <span>{{ pages_count }}</span></p>
    <p>Missing pages: <span>{{ missing_pages_count }}</span></p>
    <p>Outdated pages: <span>{{ out_of_date_pages_count }}</span></p>
    <p>Profiles: <span>{{ profiles_count }}</span></p>
    <p>Content nodes: <span>{{ content_nodes_count }}</span></p>
    <p>
        Content nodes without embedding vectors: <span>{{ content_nodes_without_embedding_vectors_count }}</span>
        (<span>{{ content_nodes_without_embedding_vectors_pct|floatformat }}%</span>)
        <progress max="{{ content_nodes_count }}" value="{{ content_nodes_without_embedding_vectors_count }}">
            {{ content_nodes_without_embedding_vectors_pct|floatformat }}%
        </progress>
    </p>
</div>
{% endblock %}